<!--  -->
  <div id="example" tabindex="-1" aria-labelledby="exampleLabel"
    aria-hidden="true">
    <div class="mr-4 ml-4 pt-4" role="document" >
      <form [formGroup]="formGroup" >
        <div class="-content">
          <div class="-header">
            <h5 class="-title text-center font-bold text-lg" id="exampleLabel">{{title}}</h5>
            <!-- <button type="button" class="close" data-dismiss="" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="-body">
            <!-- Campo de Nombre de Usuario -->
            <div class="form-group">
              <label class="block uppercase tracking-wide text-darker text-xs font-bold mb-2"
                for="grid-last-name">Nombre de Usuario</label>
              <div class="input-group">
                <input class="form-control bg-grey-lighter text-dark border border-grey-lighter rounded py-3 px-4"
                  type="text" matInput formControlName="nombreUsuario" [errorStateMatcher]="errorMatcher"
                  autocomplete="off" spellcheck="false" placeholder="Nombre de usuario">
              </div>
              <mat-error
                *ngIf="formGroup.get('nombreUsuario')?.hasError('correoUsuario') && (formGroup.get('nombreUsuario')?.touched || formGroup.get('nombreUsuario')?.dirty)"
                class="text-sm">
                Por favor, ingrese un usuario <strong>válido</strong>
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('nombreUsuario')?.hasError('required') && (formGroup.get('nombreUsuario')?.touched || formGroup.get('nombreUsuario')?.dirty)"
                class="text-sm">
                Este campo es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="
              formGroup
              .get('nombreUsuario')
              ?.hasError('minlength') ||
              formGroup
              .get('nombreUsuario')
              ?.hasError('pattern')
          ">
                Elnombre de usuario es muy<strong> pequeño.</strong>
              </mat-error>
              <mat-error *ngIf="
              formGroup
              .get('nombreUsuario')
              ?.hasError('maxlength') ||
              formGroup
              .get('nombreUsuario')
              ?.hasError('pattern')
          ">
                El nombre de usuario es muy <strong>grande</strong>
              </mat-error>
            </div>

            <!-- Campo de Correo Electrónico -->
            <div class="form-group">
              <label class="block uppercase tracking-wide text-darker text-xs font-bold mb-2"
                for="grid-last-name">Correo Electrónico</label>
              <div class="input-group">
                <input class="form-control bg-grey-lighter text-dark border border-grey-lighter rounded py-3 px-4"
                  type="email" matInput formControlName="correoUsuario" [errorStateMatcher]="errorMatcher"
                  autocomplete="off" spellcheck="false" placeholder="Correo Electrónico">
              </div>
              <mat-error
                *ngIf="formGroup.get('correoUsuario')?.hasError('correoUsuario') && (formGroup.get('correoUsuario')?.touched || formGroup.get('correoUsuario')?.dirty)"
                class="text-sm">
                Por favor, ingrese un correo electrónico <strong>válido</strong>
              </mat-error>
              <mat-error
                *ngIf="formGroup.get('correoUsuario')?.hasError('required') && (formGroup.get('correoUsuario')?.touched || formGroup.get('correoUsuario')?.dirty)"
                class="text-sm">
                Este campo es <strong>requerido</strong>
              </mat-error>
            </div>

            <!-- Campo de Contraseña -->
            <div class="form-group">
              <label class="block uppercase tracking-wide text-darker text-xs font-bold mb-2"
                for="grid-password">Contraseña</label>
              <div class="input-group">
                <input class="form-control bg-grey-lighter text-dark border border-grey-lighter rounded py-3 px-4"
                  matInput [type]="hide ? 'password' : 'text'" formControlName="contraseñaUsuario"
                  [errorStateMatcher]="errorMatcher" autocomplete="off" spellcheck="false"
                  placeholder="******************" (input)="onPasswordInput()">
                <button *ngIf="passwordEntered" class="card-actions" mat-icon-button matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'" type="button" [attr.aria-pressed]="hide"
                  style="position: absolute; right: 8px;">
                </button>
              </div>
              <mat-error
                *ngIf="formGroup.get('contraseñaUsuario')?.hasError('required') && (formGroup.get('contraseñaUsuario')?.touched || formGroup.get('contraseñaUsuario')?.dirty)"
                class="text-sm">
                Este campo es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="
                            formGroup
                            .get('contraseñaUsuario')
                            ?.hasError('minlength') ||
                            formGroup
                            .get('contraseñaUsuario')
                            ?.hasError('pattern')
                        ">
                La contraseña debe tener mínimo<strong> 8 carácteres.</strong>
              </mat-error>
            </div>

          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-secondary mr-2" (click)="closeModal()">Cancelar</button>
            <button *ngIf="button === true" type="button" class="btn btn-primary" (click)="onSubmit()">Crear</button>
            <button *ngIf="button === false" type="button" class="btn btn-primary" (click)="onSubmitUpdate()">Actualizar</button>
          </div>          
        </div>
      </form>

    </div>
  </div>