<div class="container mt-4">
  <h1>Insumos</h1>
  <hr>
  <button class="btn btn-primary mb-3" (click)="showAddForm = true">Agregar Insumo</button>
  <hr>
  <div *ngIf="showAddForm" class="mb-3">
    <h2>Registro de Insumo</h2>
    <form [formGroup]="assetForm" (ngSubmit)="createAsset()">
      <div class="mb-3">
        <label for="codigo" class="form-label">Código:</label>
        <input type="text" id="codigo" class="form-control" formControlName="codigo" required>
      </div>

      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" id="nombre" class="form-control" formControlName="nombre" required>
      </div>

      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <input type="text" id="descripcion" class="form-control" formControlName="descripcion" required>
      </div>

      <div class="mb-3">
        <label for="cedula" class="form-label">Cédula:</label>
        <input type="number" id="cedula" class="form-control" formControlName="cedula">
      </div>

      <div class="mb-3">
        <label for="fechaAsignacion" class="form-label">Fecha de Asignación:</label>
        <input type="text" id="fechaAsignacion" class="form-control" formControlName="fechaAsignacion" required>
      </div>

      <div class="mb-3">
        <label for="vidaUtil" class="form-label">Vida Útil:</label>
        <input type="number" id="vidaUtil" class="form-control" formControlName="vidaUtil" required>
      </div>

      <button type="submit" class="btn btn-success">Guardar</button>
    </form>
  </div>

  <table *ngIf="assets.length > 0" class="table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Cédula</th>
        <th>Fecha Asignación</th>
        <th>Vida Útil</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asset of assets">
        <td>{{ asset.codigo }}</td>
        <td>{{ asset.nombre }}</td>
        <td>{{ asset.descripcion }}</td>
        <td>{{ asset.cedula }}</td>
        <td>{{ asset.fechaAsignacion }}</td>
        <td>{{ asset.vidaUtil }}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="updateAsset(asset.id)">Editar</button>
          <button class="btn btn-sm btn-danger" (click)="deleteAsset(asset.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
