
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:4200/dashboard" style="padding-left: 50px;">

                    <img src="./assets/images/logo-icon3.png" width="150px" alt="http://localhost:4200/dashboard" class="dark-logo" /></a>
        </div>

        <div class="navbar-collapse">

            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                        href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item">  </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>

            <ul class="navbar-nav my-lg-0">

                
                <li class="nav-item hidden-xs-down search-box"> <a
                        class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i
                            class="ti-search"></i></a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i
                                class="ti-close"></i></a>
                    </form>
                </li>
                <!-- Profile -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="./assets/images/users/1.png" alt="user"
                            class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated flipInY">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="./assets/images/users/1.png" alt="user"></div>
                                    <div class="u-text">
                                        <br>
                                        <hr>
                                        <h4>Super Admin</h4>
                                        <p class="text-muted">admin1rui@gmail.com</p>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="http://localhost:4200/login"><i class="fa fa-power-off"></i> Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
